# Environnement virtuel
venv/
env/
ENV/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Fichiers de configuration locale
instance/
.env
config.py

# Logs
*.log

# Base de données
*.db
*.sqlite

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db